body {
  margin: 0;
}

header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

main {
  padding: 0 20px;
}

.app-logo {
  max-width: 150px;
}

.title * {
  color: red;
  text-decoration: none;
}
